/* -- GLOBAL STYLE -- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sen", sans-serif;
  font-size: 16px;
  color: var(--text);
  background-color: var(--base);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

:root {
  --base: #000000;
  --level1: #181823;
  --light-grey: #8491a0;
  --dark-grey: #5b6876;
  --text: #ffffff;
  --primary: #5221e6;
  --green-accent: #3cc74e;
  --pink-accent: #e95d90;
  --peach-accent: #fff3e4;
  --violet-accent: #fbe4ff;
}

.hover-effect {
  position: relative;
}

.hover-effect:after {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  content: "";
  color: transparent;
  background: var(--light-grey);
  height: 1px;
}

.hover-effect:after,
.hover-effect::before {
  transition: all 0.5s;
}

.hover-effect:hover:after {
  width: 100%;
}

/* -- HEADER -- */

.container {
  max-width: 360px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.header-container {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 888;
  backdrop-filter: blur(2px);
  background-color: rgba(30, 24, 35, 0.5);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.backdropOn {
  display: block;
}

.header-mob-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 200px;
  height: 100%;
  padding: 20px;
  background-color: var(--base);
  border-right: 1px solid var(--dark-grey);
  overflow: auto;
  transform: translateX(-100%);
  transition-property: transform;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mob-menu.open {
  transform: translateX(0);
}

.header-mob-btn-open,
.header-mob-btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.header-mob-btn-close {
  display: block;
  margin-left: auto;
  cursor: pointer;
  fill: #ffffff;
}

.header-mob-menu-link {
  color: var(--peach-accent);
}

.header-mob-menu-item {
  margin-bottom: 20px;
}

.header-mob-menu-item:not(:last-child) {
  margin-bottom: 20px;
}

.header-menu-list {
  display: none;
}

/* -- HERO -- */

.hero-container {
  position: relative;
  padding-top: 336px;
  padding-bottom: 48px;
  border-bottom: 1px dashed var(--light-grey);
}

.hero-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.hero-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  color: var(--text);
}

.hero-title > span {
  opacity: 50%;
}

.hero-paragraph {
  font-size: 18px;
  line-height: 1.5;
  color: var(--text);
}

/* -- WORK EXPERIENCE -- */

.experience-container {
  padding-top: 48px;
  padding-bottom: 48px;
}

.experience-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--light-grey);
  margin-bottom: 8px;
}

.experience-paragraph {
  font-size: 32px;
  font-weight: 700;
  color: var(--text);
  margin-bottom: 40px;
}

.experience-item-number {
  font-size: 117px;
  color: var(--light-grey);
}

.experience-item-accent {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--text);
  margin-bottom: 16px;
}

.first {
  color: var(--green-accent);
}

.second {
  color: #609bff;
}

.third {
  color: var(--pink-accent);
}

.experience-item-text {
  line-height: 1.5;
  color: var(--light-grey);
  margin-bottom: 44px;
}

.last-paragraph {
  margin-bottom: 0;
}

/* -- PHILOSOPHY & VALUES -- */

.philosophy-container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 450px;
  background-color: var(--text);
}

.philosophy-title {
  color: var(--level1);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.philosophy-paragraph {
  color: var(--dark-grey);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 91px;
}

.philosophy-about {
  color: var(--level1);
  line-height: 1.5;
  transition: all 0.3s ease;
}

.philosophy-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

/* -- SKILLSET -- */

.skillset-container {
  position: relative;
  padding-top: 64px;
  padding-bottom: 424px;
}

.skillset-title {
  color: var(--text);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.skillset-paragraph {
  color: var(--light-grey);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 69px;
}

.bg-none {
  fill: transparent;
}

.skillset-list-item {
  margin-bottom: 48px;
}

.skillset-list-item:last-child {
  margin-bottom: 0;
}

.skillset-item-icon {
  fill: var(--primary);
  margin-bottom: 24px;
}

.skillset-item-title {
  color: var(--text);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 12px;
}

.skillset-item-paragraph {
  color: var(--light-grey);
  line-height: 1.5;
}

.skillset:last-child {
  margin-bottom: 0;
}

.skillset-list-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.skillset-list-icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--light-grey);
  width: calc(100% / 2);
  height: 140px;
}

.skillset-list-icon-item:nth-child(even) {
  border-left: 1px solid var(--level1);
  border-right: 1px solid var(--level1);
  border-top: 1px solid var(--level1);
}

.skillset-list-icon-item:nth-child(odd) {
  border-left: 1px solid var(--level1);
  border-top: 1px solid var(--level1);
}

.skillset-list-icon-item:nth-child(5),
.skillset-list-icon-item:nth-child(6) {
  border-bottom: 1px solid var(--level1);
}

/* -- MY PROJECTS -- */

.projects-container {
  padding-top: 64px;
  padding-bottom: 70px;
}

.projects-title {
  font-size: 16px;
  color: var(--light-grey);
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.projects-subtitle {
  color: var(--text);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 80px;
}

.projects-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--level1);
  margin-bottom: 48px;
}

.projects-list-item:last-child {
  margin-bottom: 0;
}

.projects-item-box {
  padding: 40px 32px;
}

.projects-item-title {
  color: var(--text);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 13px;
}

.projects-item-paragraph {
  color: var(--light-grey);
  font-size: 18px;
  line-height: 1.5;
}

.projects-btn {
  display: none;
}

/* -- SOCIAL INFO -- */

.social-container {
  max-width: 360px;
  margin: 0 auto;
}

.social-box-instagram {
  padding-top: 48px;
  padding-bottom: 498px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--text);
  position: relative;
}

.social-instagram-title {
  color: var(--level1);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.social-instagram-paragraph {
  color: var(--dark-grey);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 126px;
}

.social-instagram-link {
  color: var(--level1);
  line-height: 1.5;
  margin-bottom: 51px;
}

.social-instagram-img {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.social-box-dribbble {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 20px;
  padding-right: 20px;
}

.social-box-dribbble-title {
  color: var(--text);
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 24px;
}

.social-box-dribbble-paragraph {
  color: var(--light-grey);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.social-box-dribbble-link {
  color: var(--text);
  line-height: 1.5;
}

.social-box-dribbble-img {
  margin-top: 64px;
  border-radius: 10px;
}

/* -- ABOUT ME -- */

.about-container {
  padding-top: 48px;
  padding-bottom: 48px;
}

.about-subtitle {
  font-size: 32px;
  font-weight: 700;
  color: var(--text);
  margin-bottom: 16px;
}

.about-paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--light-grey);
  margin-bottom: 40px;
}

.about-link {
  line-height: 1.5;
  color: var(--text);
}

.about-list {
  margin-top: 68px;
}

.about-list-item {
  border: 1px solid var(--dark-grey);
  margin-bottom: 48px;
}

.about-list-item:last-child {
  margin-bottom: 0;
}

.about-item-box {
  padding: 32px 15px;
}

.about-item-paragraph {
  max-width: 269px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--text);
  margin-bottom: 64px;
}

.about-item-paragraph-autor {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--light-grey);
}

.about-item-paragraph-company {
  font-size: 18px;
  line-height: 1.5;
  color: var(--light-grey);
}

/* -- PHOTOGRAPHY -- */

.photography-container {
  padding-top: 48px;
  padding-bottom: 48px;
}

.photography-title {
  color: var(--text);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.photography-paragraph {
  color: var(--light-grey);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.photography-btn-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.photography-btn {
  color: var(--text);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  padding: 12px 16px;
  border: 1px solid var(--primary);
  background-color: transparent;
  transition: all 0.3s ease;
}

.photography-btn:hover {
  background-color: var(--primary);
}

.photography-gallery-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  width: 100%;
}

.last-img {
  margin-bottom: 0px;
}

/* -- LET`S GET STARTED -- */

.started-container {
  padding-top: 48px;
  padding-bottom: 48px;
}

.started-title {
  color: var(--text);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.started-paragraph {
  color: var(--light-grey);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 48px;
}

.started-form-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.started-form-box-label {
  line-height: 1.5;
  color: var(--text);
  margin-bottom: 8px;
}

.started-form-box-input {
  height: 50px;
  background-color: var(--level1);
  border: none;
  margin-bottom: 40px;
  color: var(--text);
  padding: 20px;
}

.started-form-box-input:focus {
  border: 1px solid var(--primary);
  outline: none;
}

.started-form-box-input:last-child {
  height: 100px;
  resize: none;
}

.started-form-submit {
  width: 100%;
  height: 65px;
  background: transparent;
  color: var(--text);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  border: none;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  background: linear-gradient(0deg, var(--primary) 0%, var(--primary) 100%);
  padding: 0;
}

.started-form-submit span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.started-form-submit:before,
.started-form-submit:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: var(--primary);
  transition: all 0.3s ease;
}

.started-form-submit:before {
  height: 0%;
  width: 2px;
}

.started-form-submit:after {
  width: 0%;
  height: 2px;
}

.started-form-submit:hover {
  color: var(--primary);
  background: transparent;
}

.started-form-submit:focus {
  color: var(--primary);
  border: 1px solid var(--primary);
  background: transparent;
  outline: none;
}

.started-form-submit:hover:before {
  height: 100%;
}

.started-form-submit:hover:after {
  width: 100%;
}

.started-form-submit span:before,
.started-form-submit span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: var(--primary);
  transition: all 0.3s ease;
}

.started-form-submit span:before {
  width: 2px;
  height: 0%;
}

.started-form-submit span:after {
  height: 2px;
  width: 0%;
}

.started-form-submit span:hover:before {
  height: 100%;
}

.started-form-submit span:hover:after {
  width: 100%;
}

/* FOOTER */

.footer-container {
  background-color: var(--level1);
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer-logo-svg {
  width: 130px;
  margin-bottom: 32px;
}

.footer-social {
  margin-bottom: 48px;
}

.footer-social-list,
.header-mob-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-icon-twitter,
.header-mob-social-icon-twitter {
  fill: #26a7de;
}

.footer-social-icon-dribbble,
.header-mob-social-icon-dribbble {
  fill: #e94b88;
}

.footer-social-icon-linkedIn,
.header-mob-social-icon-linkedIn {
  fill: #0077b5;
}

.footer-navigation {
  margin-bottom: 48px;
}

.footer-navigation-menu-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-navigation-menu-link {
  color: var(--text);
  line-height: 1.5;
}

.footer-copyration {
  color: var(--light-grey);
  line-height: 1.5;
}

.scrollUp {
}

.scrollUp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #ffffff;
  backdrop-filter: blur(2px);
}

.scrollUp-btn-icon {
  display: inline-block;
  fill: #609bff;
}

/* -- ADAPTIVE -- */

@media screen and (min-width: 360px) {
  .philosophy-container {
    padding-bottom: 498px;
  }

  .skillset-container {
    padding-bottom: 484px;
  }

  .about-item-box {
    padding: 32px;
  }

  .photography-btn-box {
    gap: 24px 24px;
  }

  .started-form-box {
    width: 320px;
  }

  .started-form-submit {
    height: 75px;
  }
}

@media screen and (max-width: 767px) {
  .photography-btn {
    width: 148px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .header-container {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .header-mob-menu,
  .header-mob-btn-open {
    display: none;
  }

  .header-menu-list {
    display: flex;
    gap: 48px;
  }

  .header-menu-link {
    color: var(--text);
    line-height: 1.5;
  }

  .header-menu-item:last-child > .header-menu-link {
    background: var(--primary);
    padding: 32px 24px;
  }

  .hero-container {
    padding-top: 812px;
    position: relative;
    border-bottom: none;
  }

  .hero-photo {
    max-width: 384px;
    top: 45px;
  }

  .hero-title-box {
    position: absolute;
    top: 168px;
    left: 320px;
    max-width: 408px;
  }

  .hero-title {
    font-size: 56px;
    margin-bottom: 32px;
  }

  .experience-container {
    padding-bottom: 80px;
  }

  .experience-paragraph {
    font-size: 55px;
  }

  .experience-list {
    display: flex;
    gap: 24px;
    width: 100%;
  }

  .experience-list-item {
    width: calc((100% - 50px) / 3);
    padding-right: 19px;
  }

  .experience-item-accent {
    margin-bottom: 24px;
  }

  .experience-item-text {
    margin-bottom: 0;
  }

  .philosophy-container {
    padding-top: 80px;
    padding-bottom: 90px;
    padding-right: 424px;
  }

  .philosophy-title {
    font-size: 55px;
  }

  .philosophy-paragraph {
    margin-bottom: 67px;
  }

  .philosophy-img {
    top: 0;
    width: 385px;
  }

  .skillset-container {
    padding-top: 80px;
  }

  .skillset-title {
    font-size: 55px;
  }

  .skillset-paragraph {
    margin-bottom: 48px;
  }

  .skillset-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .skillset-list-item {
    width: calc((100% - 24px) / 2);
  }

  .skillset-list-item:nth-last-child(2) {
    margin-bottom: 0;
  }

  .skillset-item-paragraph {
    max-width: 284px;
  }

  .projects-subtitle {
    font-size: 55px;
  }

  .social-container {
    max-width: 768px;
  }

  .social-box-instagram {
    padding-top: 80px;
    padding-bottom: 94px;
    padding-left: 40px;
    padding-right: 424px;
  }

  .social-instagram-title {
    font-size: 55px;
    margin-bottom: 24px;
  }

  .social-instagram-img {
    top: 0;
    width: 384px;
  }

  .social-box-dribbble {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .social-box-dribbble-img {
    margin-top: 120px;
  }

  .about-container {
    display: flex;
    gap: 23px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .about-title-box {
    width: 333px;
  }

  .about-subtitle {
    font-size: 55px;
    margin-bottom: 24px;
  }

  .about-list {
    margin-top: 0;
  }

  .about-list-item {
    margin-bottom: 64px;
  }

  .photography-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .photography-title {
    font-size: 55px;
    margin-bottom: 24px;
  }

  .photography-paragraph {
    margin-bottom: 64px;
  }

  .photography-btn-box {
    justify-content: start;
  }

  .photography-btn {
    max-width: 148px;
  }

  .started-container {
    display: flex;
    gap: 24px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .started-title-box {
    width: 332px;
  }

  .started-title {
    font-size: 55px;
    margin-bottom: 24px;
  }

  .footer-container {
    padding-top: 80px;
    padding-bottom: 56px;
  }

  .footer-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
  }

  .footer-navigation {
    width: 330px;
    margin-bottom: 0;
  }

  .footer-navigation-menu-list {
    gap: 30px 60px;
    flex-wrap: wrap;
    max-height: 200px;
  }

  .footer-social {
    margin-bottom: 0;
  }

  .footer-copyration {
    max-width: 329px;
  }

  .scrollUp-btn {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    position: relative;
  }

  .container {
    max-width: 1440px;
    padding-left: 72px;
    padding-right: 72px;
  }

  .hero-container {
    padding-top: 765px;
    border-bottom: 3px dashed var(--light-grey);
  }

  .hero-photo {
    max-width: 750px;
    top: 40px;
  }

  .hero-bg-desktop {
    position: absolute;
    z-index: -1;
    top: -88px;
    right: 0;
    height: 900px;
    width: 900px;
    background-color: var(--level1);
  }

  .hero-title-box {
    top: 221px;
    left: 662px;
    max-width: 747px;
  }

  .hero-title {
    font-size: 78px;
  }

  .experience-container {
    padding-top: 120px;
    padding-bottom: 144px;
  }

  .experience-paragraph {
    max-width: 690px;
  }

  .experience-item-accent {
    margin-bottom: 22px;
  }

  .philosophy-container {
    padding-top: 120px;
    padding-bottom: 127px;
  }

  .philosophy-title-box {
    max-width: 576px;
  }

  .philosophy-paragraph {
    margin-bottom: 134px;
  }

  .philosophy-img {
    width: 720px;
  }

  .skillset-container {
    display: flex;
    gap: 72px;
    padding-top: 120px;
    padding-bottom: 260px;
  }

  .skillset-title-box {
    max-width: 368px;
  }

  .skillset-title {
    margin-bottom: 24px;
  }

  .skillset-paragraph {
    margin-bottom: 0;
  }

  .skillset-list-icon {
    flex-wrap: nowrap;
  }

  .skillset-list-icon-item:nth-child(odd) {
    border-left: none;
    border-top: none;
  }

  .skillset-list-icon-item:nth-child(even) {
    border-left: none;
    border-right: none;
    border-top: none;
  }

  .skillset-list-icon-item:nth-child(5),
  .skillset-list-icon-item:nth-child(6) {
    border-bottom: none;
  }

  .skillset-list-icon-item:nth-child(1n + 1) {
    border-top: 1px solid var(--level1);
    border-left: 1px solid var(--level1);
    border-bottom: 1px solid var(--level1);
  }

  .skillset-list-icon-item:last-child {
    border-right: 1px solid var(--level1);
  }

  .projects-container {
    position: relative;
    padding-top: 120px;
    padding-bottom: 153px;
  }

  .projects-title-box {
    position: absolute;
    max-width: 572px;
  }

  .projects-subtitle {
    margin-bottom: 80px;
  }

  .projects-list {
    width: 100%;
    max-height: 1930px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 24px;
  }

  .projects-list-item:nth-child(1) {
    margin-top: 244px;
  }

  .projects-list-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }

  .projects-btn {
    display: block;
    color: var(--text);
    text-transform: uppercase;
    line-height: 1.5;
    padding: 24px 32px;
    border: 1px solid var(--primary);
    background-color: transparent;
    transition: all 0.3s ease;
    position: absolute;
    right: 266px;
    bottom: 231px;
  }

  .projects-btn:hover {
    background-color: var(--primary);
  }

  .social-container {
    max-width: 1440px;
  }

  .social-box-instagram {
    padding-top: 120px;
    padding-bottom: 127px;
    padding-right: 792px;
  }

  .social-instagram-paragraph {
    color: var(--dark-grey);
    margin-bottom: 134px;
  }

  .social-instagram-img {
    width: 720px;
  }

  .social-box-dribbble {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 182px;
    padding-right: 182px;
  }

  .social-box-dribbble-paragraph {
    width: 636px;
  }

  .about-container {
    padding-top: 120px;
    padding-bottom: 120px;
    justify-content: space-between;
  }

  .about-title-box {
    width: 636px;
    padding-right: 48px;
  }

  .about-item-box {
    padding: 64px;
  }

  .about-item-paragraph {
    max-width: 508px;
  }

  .about-list-item {
    margin-bottom: 120px;
  }

  .photography-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .photography-paragraph {
    max-width: 588px;
  }

  .started-container {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 182px;
    padding-right: 182px;
  }

  .started-title-box {
    width: 526px;
  }

  .started-form-box {
    width: 525px;
  }

  .footer-container {
    padding-bottom: 80px;
    padding-right: 182px;
  }

  .footer-copyration {
    max-width: 427px;
  }

  .footer-navigation {
    width: 416px;
  }
}
